<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.eetac.dsa.dsaqp1415g6.car2sale" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBar" >
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Car2SaleMainActivity" />
        <activity android:name=".AnuncioDetailActivity" />
        <activity android:name=".FiltrarMarcasActivity" />
        <activity android:name=".FiltrarPreciosActivity" />
        <activity android:name=".FiltrarKmsActivity" />
        <activity android:name=".MarcaDetailActivity" />
        <activity android:name=".PrecioDetailActivity" />
        <activity android:name=".KmDetailActivity" />
        <activity android:name=".MisAnunciosDetailActivity" />


    </application>

</manifest>
